In [6]:
# loop to print 10 first even numbers

count = 0
for i in range(100):
    if (i%2==0) & (count<10):
        print(i)
        count = count+1

0
2
4
6
8
10
12
14
16
18

In [7]:
# loop to print 20 first odd numbers

count = 0
for i in range(100):
    if (i%2!=0) & (count<20):
        print(i)
        count = count+1

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

In [10]:
# student list with [ID, Name, Course, Fee]

student = [71518, 'Obada', 'Programming 101', 2000.0]
print(student)

# Appending result to student list

result = 85
student.append(result)
print(student)

# Extending student list with [Semester, Mark]

semester, mark = 'Spring', 'B+'
student.extend([semester, mark])
print(student)

[71518, 'Obada', 'Programming 101', 2000.0]
[71518, 'Obada', 'Programming 101', 2000.0, 85]
[71518, 'Obada', 'Programming 101', 2000.0, 85, 'Spring', 'B+']

In [12]:
# Employee list with [ID, Name, Job, Weekly hours, Salary]

employee = [71518, 'Obada', 'Programmer']
print(employee)

# Extending [Weekly hours, Salary] to student list

employee.extend([40, 8000])
print(employee)

[71518, 'Obada', 'Programmer']
[71518, 'Obada', 'Programmer', 40, 8000]