# Data Preprocessing

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
import os

os.chdir("/Users/obadaessa/Desktop/Internship/Data Sets")
os.getcwd()

'/Users/obadaessa/Desktop/Internship/Data Sets'

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [4]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
x = dataset.iloc[:, 3:13]

In [6]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [7]:
x = x.values

In [8]:
x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [9]:
y = dataset.iloc[:,13].values

In [38]:
y

array([1, 0, 1, ..., 1, 1, 0])

In [10]:
dataset.isnull()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [12]:
lb = LabelEncoder()

In [13]:
lb2 = LabelEncoder()

In [14]:
x[:,1] = lb.fit_transform(x[:,1])
x

array([[619, 0, 'Female', ..., 1, 1, 101348.88],
       [608, 2, 'Female', ..., 0, 1, 112542.58],
       [502, 0, 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 0, 'Female', ..., 0, 1, 42085.58],
       [772, 1, 'Male', ..., 1, 0, 92888.52],
       [792, 0, 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [15]:
x[:,2] = lb2.fit_transform(x[:,2])
x

array([[619, 0, 0, ..., 1, 1, 101348.88],
       [608, 2, 0, ..., 0, 1, 112542.58],
       [502, 0, 0, ..., 1, 0, 113931.57],
       ...,
       [709, 0, 0, ..., 0, 1, 42085.58],
       [772, 1, 1, ..., 1, 0, 92888.52],
       [792, 0, 0, ..., 1, 0, 38190.78]], dtype=object)

In [16]:
# Use ColumnTransformer WITH OneHotEncoder

from sklearn.compose import ColumnTransformer

ct = ColumnTransformer([("Geography", OneHotEncoder(), [1])], remainder = 'passthrough')
x = ct.fit_transform(x)
x

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [17]:
x = x[:,1:]

In [18]:
x[1,:]

array([0.0, 1.0, 608, 0, 41, 1, 83807.86, 1, 0, 1, 112542.58],
      dtype=object)

In [19]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.3, random_state=0)

In [20]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [21]:
xtrain = sc.fit_transform(xtrain)
xtest = sc.transform(xtest)

In [22]:
import keras
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()

In [24]:
xtrain.shape

(7000, 11)

In [27]:
# Input layer

model.add(Dense(input_dim=11,
                kernel_initializer='random_uniform', 
                activation='relu', 
                units=15))

# Hidden layer

model.add(Dense(units=8, 
                kernel_initializer='random_uniform', 
                activation='relu'))

# Output layer

model.add(Dense(units=1, 
                kernel_initializer='random_uniform', 
                activation='sigmoid'))

model.compile(optimizer='sgd',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [29]:
model.fit(xtrain, ytrain, epochs=50, batch_size=32)

Epoch 1/50
219/219 [==============================] - 0s 551us/step - loss: 0.6236 - accuracy: 0.7971
Epoch 2/50
219/219 [==============================] - 0s 547us/step - loss: 0.5501 - accuracy: 0.7977
Epoch 3/50
219/219 [==============================] - 0s 534us/step - loss: 0.5230 - accuracy: 0.7977
Epoch 4/50
219/219 [==============================] - 0s 530us/step - loss: 0.5121 - accuracy: 0.7977
Epoch 5/50
219/219 [==============================] - 0s 544us/step - loss: 0.5075 - accuracy: 0.7977
Epoch 6/50
219/219 [==============================] - 0s 533us/step - loss: 0.5054 - accuracy: 0.7977
Epoch 7/50
219/219 [==============================] - 0s 527us/step - loss: 0.5044 - accuracy: 0.7977
Epoch 8/50
219/219 [==============================] - 0s 536us/step - loss: 0.5040 - accuracy: 0.7977
Epoch 9/50
219/219 [==============================] - 0s 533us/step - loss: 0.5038 - accuracy: 0.7977
Epoch 10/50
219/219 [==============================] - 0s 533us/step - loss: 0.5037 - accuracy: 0.7977
Epoch 11/50
219/219 [==============================] - 0s 532us/step - loss: 0.5036 - accuracy: 0.7977
Epoch 12/50
219/219 [==============================] - 0s 535us/step - loss: 0.5036 - accuracy: 0.7977
Epoch 13/50
219/219 [==============================] - 0s 528us/step - loss: 0.5036 - accuracy: 0.7977
Epoch 14/50
219/219 [==============================] - 0s 542us/step - loss: 0.5036 - accuracy: 0.7977
Epoch 15/50
219/219 [==============================] - 0s 531us/step - loss: 0.5036 - accuracy: 0.7977
Epoch 16/50
219/219 [==============================] - 0s 537us/step - loss: 0.5036 - accuracy: 0.7977
Epoch 17/50
219/219 [==============================] - 0s 539us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 18/50
219/219 [==============================] - 0s 530us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 19/50
219/219 [==============================] - 0s 527us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 20/50
219/219 [==============================] - 0s 527us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 21/50
219/219 [==============================] - 0s 530us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 22/50
219/219 [==============================] - 0s 533us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 23/50
219/219 [==============================] - 0s 554us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 24/50
219/219 [==============================] - 0s 525us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 25/50
219/219 [==============================] - 0s 530us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 26/50
219/219 [==============================] - 0s 531us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 27/50
219/219 [==============================] - 0s 532us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 28/50
219/219 [==============================] - 0s 633us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 29/50
219/219 [==============================] - 0s 639us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 30/50
219/219 [==============================] - 0s 638us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 31/50
219/219 [==============================] - 0s 574us/step - loss: 0.5035 - accuracy: 0.7977
Epoch 32/50
219/219 [==============================] - 0s 533us/step - loss: 0.5034 - accuracy: 0.7977
Epoch 33/50
219/219 [==============================] - 0s 552us/step - loss: 0.5034 - accuracy: 0.7977
Epoch 34/50
219/219 [==============================] - 0s 535us/step - loss: 0.5034 - accuracy: 0.7977
Epoch 35/50
219/219 [==============================] - 0s 534us/step - loss: 0.5034 - accuracy: 0.7977
Epoch 36/50
219/219 [==============================] - 0s 525us/step - loss: 0.5034 - accuracy: 0.7977
Epoch 37/50
219/219 [==============================] - 0s 539us/step - loss: 0.5034 - accuracy: 0.7977
Epoch 38/50
219/219 [==============================] - 0s 544us/step - loss: 0.5033 - accuracy: 0.7977
Epoch 39/50
219/219 [==============================] - 0s 536us/step - loss: 0.5033 - accuracy: 0.7977
Epoch 40/50
219/219 [==============================] - 0s 527us/step - loss: 0.5033 - accuracy: 0.7977
Epoch 41/50
219/219 [==============================] - 0s 530us/step - loss: 0.5033 - accuracy: 0.7977
Epoch 42/50
219/219 [==============================] - 0s 535us/step - loss: 0.5032 - accuracy: 0.7977
Epoch 43/50
219/219 [==============================] - 0s 536us/step - loss: 0.5032 - accuracy: 0.7977
Epoch 44/50
219/219 [==============================] - 0s 531us/step - loss: 0.5032 - accuracy: 0.7977
Epoch 45/50
219/219 [==============================] - 0s 537us/step - loss: 0.5031 - accuracy: 0.7977
Epoch 46/50
219/219 [==============================] - 0s 536us/step - loss: 0.5031 - accuracy: 0.7977
Epoch 47/50
219/219 [==============================] - 0s 531us/step - loss: 0.5030 - accuracy: 0.7977
Epoch 48/50
219/219 [==============================] - 0s 528us/step - loss: 0.5029 - accuracy: 0.7977
Epoch 49/50
219/219 [==============================] - 0s 539us/step - loss: 0.5028 - accuracy: 0.7977
Epoch 50/50
219/219 [==============================] - 0s 531us/step - loss: 0.5027 - accuracy: 0.7977

In [30]:
ypred = model.predict(xtest)

In [31]:
ypred = (ypred>0.5)

In [32]:
ypred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [33]:
ytest

array([0, 1, 0, ..., 0, 0, 1])

In [34]:
yp = model.predict(sc.transform(np.array([[0,1,100,1,25,8,115000,24,1,1,100000]])))

In [35]:
yp

array([[0.20154402]], dtype=float32)

In [36]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest, ypred)
print(cm)

[[2379    0]
 [ 621    0]]

In [37]:
from sklearn.metrics import accuracy_score
print(accuracy_score(ytest, ypred))

0.793