# Data Structures

In [1]:
# Lists

l1 = [1,2,3,4]

In [2]:
l1

[1, 2, 3, 4]

In [4]:
l1[0]

1

In [5]:
l2=[1,2,"abc"]

In [6]:
l2

[1, 2, 'abc']

In [7]:
l2[2]

'abc'

In [8]:
l1[-1]

4

In [9]:
l1[-2]

3

In [10]:
# Append elements
l2.append(5.55)

In [11]:
l2

[1, 2, 'abc', 5.55]

In [12]:
l1.append("abc")

In [13]:
l1

[1, 2, 3, 4, 'abc']

In [14]:
l1[1] = "two"

In [15]:
l1

[1, 'two', 3, 4, 'abc']

In [16]:
list1= ['a','b']

In [17]:
list1

['a', 'b']

In [19]:
list1.extend([1,2,3])

In [20]:
list1

['a', 'b', 1, 2, 3]

In [1]:
# Tuples
t1 = (1,2,3)

In [2]:
t1

(1, 2, 3)

In [3]:
t1 = (1,2,3,'abc')

In [4]:
t1 = (1,2,3)

In [5]:
t2 = (1,2,3,'abc')

In [6]:
t3 = 1,2

In [7]:
t1

(1, 2, 3)

In [8]:
t2

(1, 2, 3, 'abc')

In [9]:
t3

(1, 2)

In [10]:
# singleton tuple
singleton = (1,)

In [11]:
singleton

(1,)

In [12]:
singleton *5

(1, 1, 1, 1, 1)

In [14]:
singleton = (1,)

In [15]:
# tuple concatination
s1 = (1,0)

In [16]:
s1 += (1,)

In [17]:
s1

(1, 0, 1)

In [18]:
s1.count

In [19]:
s1.count(2)

0

In [20]:
s1.count(1)

2

In [21]:
s1.index(1)

0

In [22]:
s1.index(1,2)

2

In [23]:
# Multiple tuple assignements
(x,y,x) = (10,20,30)

In [24]:
(x,y,z) = (10,20,30)

In [25]:
x

10

In [26]:
x,y,z

(10, 20, 30)

In [28]:
# swap tuples
x,y = y,x

In [29]:
x,y

(20, 10)

In [30]:
# length of tuple
len(s1)

3

In [31]:
s2 = (1,2,3,4,5)

In [32]:
# slicing tuples
s2[2:]

(3, 4, 5)

In [33]:
s2

(1, 2, 3, 4, 5)

In [34]:
# cpoying
s3 = s2

In [35]:
s3

(1, 2, 3, 4, 5)

In [36]:
# maximum element
max(s3)

5

In [37]:
### Dictionaries
d = {'a':1, 'b':2}

In [38]:
d

{'a': 1, 'b': 2}

In [40]:
d['a']

1

In [42]:
d.keys()

dict_keys(['a', 'b'])

In [43]:
d.values()

dict_values([1, 2])

In [44]:
d.items()

dict_items([('a', 1), ('b', 2)])

In [45]:
# removing info in dict
d1 = {'a':1, 'b':2, 'c': 3}

In [46]:
d1.popitem()

('c', 3)

In [49]:
d1.clear()

In [50]:
d1

{}

In [52]:
d1 = {'a':1, 'b':2, 'c': 3}

In [53]:
del d1['b']

In [54]:
# combine dicts
d2 = { 'z': 333}

In [55]:
d1.update(d2)

In [56]:
d1, d2

({'a': 1, 'c': 3, 'z': 333}, {'z': 333})

In [1]:
# Sets

a = set([1,2,3,4,5])

In [2]:
a

{1, 2, 3, 4, 5}

In [3]:
b = ([5,4,3])

In [4]:
b

[5, 4, 3]

In [5]:
a.union(b)

{1, 2, 3, 4, 5}

In [6]:
a

{1, 2, 3, 4, 5}

In [7]:
a.intersection(b)

{3, 4, 5}

In [8]:
c = a.intersection(b)

In [9]:
c

{3, 4, 5}

In [10]:
c.issubset(a)

True

In [11]:
a.intersection(b,c)

{3, 4, 5}

In [12]:
 # Frozen sets
    
a = frozenset([1,2,3,4])

In [13]:
b = frozenset([2,3,4,5])

In [14]:
a.union(b)

frozenset({1, 2, 3, 4, 5})

In [15]:
c.add(frozenset(b))

In [16]:
c

{3, 4, 5, frozenset({2, 3, 4, 5})}

In [17]:
#######################################
### Data Analysis #####################
#######################################